*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}
// NAV TOP
.navbar-top {
	position: sticky;
	top: 0;
	width: 100%;
	height: 5.6rem;
	background-color: #fb8f01;
	z-index: 5;

	&__text {
		position: absolute;
		font-size: 2rem;
		color: #fff;
		top: 1.6rem;
		left: 1.6rem;
	}

	&__menu {
		position: fixed;
		padding: 1rem;
		right: 0.6rem;
		top: 0.6rem;
		z-index: 6;
	}
}
// NAV BOTTOM
.navbar-bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #fb8f01;
	height: 5.6rem;
	z-index: 1;

	&__circle {
		position: absolute;
		background-color: #00f57f;
		height: 7rem;
		width: 7rem;
		bottom: 2.1rem;
		border-radius: 100%;
		left: 50%;
		transform: translateX(-50%);
		border: none;
		transition: background-color 0.2s;

		&:active {
			background-color: #00e677;
		}
	}

	&__icon {
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}
}
// NAV DRAWER
.nav-drawer {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fb6f00;
	top: 0;
	bottom: 0;
	right: 0;
	left: 15%;
	-webkit-box-shadow: -3px 0px 21px -1px rgba(66, 68, 90, 0.42);
	-moz-box-shadow: -3px 0px 21px -1px rgba(66, 68, 90, 0.42);
	box-shadow: -3px 0px 21px -1px rgba(66, 68, 90, 0.42);
	transform: translateX(150%);
	transition: transform 0.3s;
	z-index: 6;

	&--active {
		transform: translateX(0);
	}

	a {
		text-align: center;
		font-size: 2rem;
		line-height: 7rem;
		width: 100%;
		text-decoration: none;
		color: #ffffff;
		-webkit-tap-highlight-color: transparent;

		&:active {
			color: #fb8f01;
			outline-color: none;
			background-color: #ffcd81;
		}
	}
}
// BLUR EFFECT
.blur {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backdrop-filter: none;
	z-index: -1;
	transition: backdrop-filter 0.3s;

	&--active {
		backdrop-filter: blur(0.3rem);
		z-index: 6;
	}
}
// TASKS
.tasks {
	margin: 1rem 1.6rem 3rem;

	&__task {
		overflow: hidden;
		position: relative;
		border-radius: 1rem;
		height: 4rem;
		margin-top: 1rem;
	}

	&__task-bar {
		position: absolute;
		background-color: #ffcd81;
		width: 100%;
		height: 100%;

		&--color {
			background-color: #00f57f;
		}
	}

	&__task-text {
		line-height: 4rem;
		margin-left: 1rem;
	}

	&__task-checkbox {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 100%;
		border: 0.1rem solid #fb8f01;
		margin-right: 1rem;
		background-color: #fff;
		height: 2.5rem;
		width: 2.5rem;

		&--color {
			background-color: #fb8f01;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: url('/check-icon2.svg');
			z-index: 100;
		}
	}
}
.completed-tasks {
	margin-bottom: 10rem;

	&__task-bar {
		// text-decoration: line-through;
		background-color: #ffcd81c7;
		color: #808080;
	}
}
// ADD TASK POPUP
.create-task-box {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;

	&--active {
		opacity: 1;
		visibility: visible;
	}

	&__container {
		position: relative;
		width: 100%;
		margin: 0 1.6rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		background-color: #fff;
		box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
		z-index: 40;
	}

	p {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 2rem;
	}

	label {
		font-size: 1.6rem;
	}

	input {
		border: none;
		height: 3.6rem;
		border-radius: 1rem;
		background-color: #ffcd81;
		padding: 0 1rem;

		&:focus {
			outline: 1px solid #fb8f01;
			border: 1px solid #fb8f01;
		}
	}

	button {
		font-size: 1.6rem;
		color: #fff;
		margin-top: 2rem;
		height: 4rem;
		border-radius: 1rem;
		border: none;
		background-color: #00f57f;

		&:active {
			background-color: #00e677;
		}
	}

	span {
		padding: 1rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	&__info {
		color: #fb1201;
		margin-top: 0.5rem;
		visibility: visible;
	}
}

.edit-task-box {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;

	&--active {
		opacity: 1;
		visibility: visible;
	}

	&__container {
		position: relative;
		width: 100%;
		margin: 0 1.6rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		background-color: #fff;
		box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
		z-index: 40;
	}

	p {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 2rem;
	}

	label {
		font-size: 1.6rem;
	}

	input {
		border: none;
		height: 3.6rem;
		border-radius: 1rem;
		background-color: #ffcd81;
		padding: 0 1rem;

		&:focus {
			outline: 1px solid #fb8f01;
			border: 1px solid #fb8f01;
		}
	}

	button {
		font-size: 1.6rem;
		color: #fff;
		margin-top: 2rem;
		height: 4rem;
		border-radius: 1rem;
		border: none;
		background-color: #00f57f;

		&:active {
			background-color: #00e677;
		}
	}

	span {
		padding: 1rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	&__info {
		color: #fb1201;
		margin-top: 0.5rem;
		visibility: visible;
	}
}

.form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		width: 100%;
		margin: 0 1.6rem;
		display: flex;
		flex-direction: column;
	}

	&__box-email {
		display: flex;
		flex-direction: column;
	}

	&__box-label {
		font-size: 1.6rem;
	}

	&__box-input {
		border: none;
		height: 3.6rem;
		border-radius: 1rem;
		background: #ffcd81;
		padding: 1rem;

		&:focus {
			outline: 1px solid #fb8f01;
			border: 1px solid #fb8f01;
		}
	}

	&__box-password {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
	}

	&__box-btn {
		font-size: 1.6rem;
		border-radius: 1rem;
		margin-top: 5rem;
		height: 4rem;
		border: none;
		color: #fff;
		background-color: #00f57f;
	}

	&__box-text {
		text-align: center;
		color: #fb1201;
		margin-top: 1rem;
		font-size: 1.3rem;
	}
}


