*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}
// NAV TOP
.navbar-top {
	position: sticky;
	top: 0;
	width: 100%;
	height: 5.6rem;
	background-color: #fb8f01;
	z-index: 1;

	&__text {
		position: absolute;
		font-size: 2rem;
		color: #fff;
		top: 1.6rem;
		left: 1.6rem;
	}

	&__menu {
		position: fixed;
		padding: 1rem;
		right: 0.6rem;
		top: 0.6rem;
		z-index: 3;
	}
}
// NAV BOTTOM
.navbar-bottom {
	position: sticky;
	width: 100%;
	bottom: 0;
	background-color: #fb8f01;
	height: 5.6rem;
	margin-top: 1rem;

	&__circle {
		position: absolute;
		background-color: #00f57f;
		height: 7rem;
		width: 7rem;
		bottom: 2.1rem;
		border-radius: 100%;
		left: 50%;
		transform: translateX(-50%);
		border: none;
		transition: background-color 0.2s;

		&:active {
			background-color: #00e677;
		}
	}

	&__icon {
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}
}
// NAV DRAWER
.nav-drawer {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fb6f00;
	top: 0;
	bottom: 0;
	right: 0;
	left: 15%;
	-webkit-box-shadow: -3px 0px 21px -1px rgba(66, 68, 90, 0.42);
	-moz-box-shadow: -3px 0px 21px -1px rgba(66, 68, 90, 0.42);
	box-shadow: -3px 0px 21px -1px rgba(66, 68, 90, 0.42);
	transform: translateX(150%);
	transition: transform 0.3s;
	z-index: 2;

	&--active {
		transform: translateX(0);
	}

	a {
		text-align: center;
		font-size: 2rem;
		line-height: 7rem;
		width: 100%;
		text-decoration: none;
		color: #ffffff;
		-webkit-tap-highlight-color: transparent;

		&:active {
			color: #fb8f01;
			outline-color: none;
			background-color: #ffcd81;
		}
	}
}
// BLUR EFFECT
.blur {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backdrop-filter: none;
	z-index: -1;
	transition: backdrop-filter 0.3s;

	&--active {
		backdrop-filter: blur(0.3rem);
		z-index: 2;
	}
}
// TASKS
.task-box {
	display: flex;
	flex-direction: column;

	&__text {
		font-size: 1.6rem;
	}

	&__task {
		border-radius: 1rem;
		background-color: #ffcd81;
		margin: 1rem 1.6rem 0;
		padding: 1.5rem;
		height: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: background-color 0.2s;

		&--active {
			background-color: rgba(165, 255, 129, 0.76);
		}
	}

	&__round {
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		position: relative;
	}

	&__check-label {
		position: absolute;
		-webkit-tap-highlight-color: transparent;
		background-color: #ffffff;
		left: 0;
		top: 0;
		width: 2.5rem;
		height: 2.5rem;
		border: 0.1rem solid #fb8f01;
		border-radius: 100%;
		cursor: pointer;
		transition: background-color 0.2s;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url('/check-icon2.svg');
			opacity: 1;
		}

		&--active {
			background-color: #fb8f01;
		}
	}
}
// ADD TASK POPUP
.create-task-box {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.2s;

	&--active {
		opacity: 1;
		z-index: 4;
	}

	&__container {
		width: 100%;
		margin: 0 1.6rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		background-color: #fff;
		box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
	}

	p {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 2rem;
	}

	label {
		font-size: 1.6rem;
	}

	input {
		border: none;
		height: 3.6rem;
		border-radius: 1rem;
		background-color: #ffcd81;
		padding: 0 1rem;

		&:focus {
			outline: 1px solid #fb8f01;
			border: 1px solid #fb8f01;
		}
	}

	button {
		font-size: 1.6rem;
		color: #fff;
		margin-top: 3rem;
		height: 4rem;
		border-radius: 1rem;
		border: none;
		background-color: #00f57f;
	}
}
